services:
  typedb:
    # https://github.com/typedb/typedb/releases/tag/3.2.0
    container_name: projojo_typedb
    image: typedb/typedb:3.3.0
    restart: unless-stopped
    ports:
      - "${TYPEDB_PORT:-1729}:1729"
      - "${TYPEDB_STUDIO_PORT:-1728}:8000" # this is the port used for the new TypeDB Studio
    volumes:
      - typedb-data:/opt/typedb-all-linux-x86_64/server/data
    platform: linux/amd64
    networks:
      - projojo-network

  backend:
    container_name: projojo_backend
    depends_on:
      - typedb
    build:
      context: ./projojo_backend
      dockerfile: Dockerfile # Could be changed to Dockerfile.dev or Dockerfile.prod for different environments
    ports:
      - "${BACKEND_PORT:-8000}:8000"
    volumes:
      - ./projojo_backend:/app
    environment:
      - TYPEDB_SERVER_ADDR=${TYPEDB_SERVER_ADDR:-typedb:1729}
      - TYPEDB_DB_NAME=${TYPEDB_DB_NAME:-projojo_db}
      - TYPEDB_EDITION=${TYPEDB_EDITION:-Core}
      - TYPEDB_USERNAME=${TYPEDB_USERNAME:-admin}
      - TYPEDB_PASSWORD=${TYPEDB_PASSWORD:-password}
      - PYTHONUNBUFFERED=1 # Ensures Python output is sent straight to terminal without buffering
      - PYTHONDONTWRITEBYTECODE=1 # Prevents Python from writing .pyc files
      - PYTHONPATH=/app # Sets the Python path to /app to enable module imports
    networks:
      - projojo-network

  frontend:
    container_name: projojo_frontend
    build:
      context: ./projojo_frontend
      dockerfile: Dockerfile # Could be changed to Dockerfile.dev or Dockerfile.prod for different environments
    ports:
      - "${FRONTEND_PORT:-5173}:5173"
    volumes:
      - ./projojo_frontend:/app
      - /app/node_modules # Anonymous volume to prevent host node_modules from mounting
    environment:
      - VITE_BACKEND_HOST=${VITE_BACKEND_HOST}
      - VITE_BACKEND_PORT=${VITE_BACKEND_PORT}
      - VITE_APP_NAME=${VITE_APP_NAME}
      - VITE_APP_VERSION=${VITE_APP_VERSION}
    networks:
      - projojo-network

networks:
  projojo-network:
    driver: bridge

volumes:
  typedb-data:
