services:
  typedb:
    # https://github.com/typedb/typedb/releases/tag/3.4.0
    container_name: projojo_typedb
    image: typedb/typedb:3.4.0
    restart: unless-stopped
    env_file:
      - settings.env
      - .env
    ports:
      - "${TYPEDB_PORT}:1729"
      - "${TYPEDB_STUDIO_PORT}:8000" # this is the port used for the new TypeDB Studio
    volumes:
      - typedb-data:/opt/typedb-all-linux-x86_64/server/data
    platform: linux/amd64
    networks:
      - projojo-network

  backend:
    container_name: projojo_backend
    depends_on:
      - typedb
    build:
      context: ./projojo_backend
      dockerfile: Dockerfile # Could be changed to Dockerfile.dev or Dockerfile.prod for different environments
    env_file:
      - settings.env
      - .env
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - ./projojo_backend:/app
    environment:
      - PYTHONUNBUFFERED=1 # Ensures Python output is sent straight to terminal without buffering
      - PYTHONDONTWRITEBYTECODE=1 # Prevents Python from writing .pyc files
      - PYTHONPATH=/app # Sets the Python path to /app to enable module imports
    networks:
      - projojo-network

  frontend:
    container_name: projojo_frontend
    build:
      context: ./projojo_frontend
      dockerfile: Dockerfile # Could be changed to Dockerfile.dev or Dockerfile.prod for different environments
    env_file:
      - settings.env
      - .env
    ports:
      - "${FRONTEND_PORT}:5173"
    volumes:
      - ./projojo_frontend:/app
      - /app/node_modules # Anonymous volume to prevent host node_modules from mounting
    networks:
      - projojo-network

networks:
  projojo-network:
    driver: bridge

volumes:
  typedb-data:
