@import "tailwindcss";

/* Your custom configuration as CSS variables */
@theme {
    --color-primary: #e50056;
    --color-dark-primary: #cf004e;

    --radius-none: 0;
    --radius-sm: 0.125rem;
    --radius: 4px;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-full: 9999px;
    --radius-large: 2rem;
}

/* Custom keyframes and animations */
@keyframes highlight {
    0% {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }

    100% {
        background-color: transparent;
        border-color: transparent;
    }
}

@utility animate-highlight {
    animation: highlight 1.5s ease-out;
}

@layer components {
    .btn {
        @apply font-medium text-sm text-nowrap 
               rounded-md px-5 py-2.5 focus:outline-none 
               focus:ring-4 focus:ring-pink-300 transition-all 
               duration-200 transform hover:-translate-y-0.5 
               shadow-md hover:shadow-lg;
    }
    .btn-primary {
        @apply font-medium text-sm text-nowrap 
               rounded-md px-5 py-2.5 focus:outline-none 
               focus:ring-4 focus:ring-pink-300 transition-all 
               duration-200 transform hover:-translate-y-0.5 
               shadow-md hover:shadow-lg 
               bg-primary hover:bg-pink-700 text-white;
    }

    .btn-primary:disabled {
        @apply font-medium text-sm text-nowrap 
               rounded-md px-5 py-2.5 focus:outline-none 
               focus:ring-4 transition-all 
               duration-200 transform hover:-translate-y-0.5 
               shadow-md hover:shadow-lg
               bg-gray-400 hover:bg-gray-500 focus:ring-gray-400 text-white;
    }

    .btn-secondary {
        @apply font-medium text-sm text-nowrap 
               rounded-md px-5 py-2.5 focus:outline-none 
               focus:ring-4 transition-all 
               duration-200 transform hover:-translate-y-0.5 
               shadow-md hover:shadow-lg
               bg-gray-500 hover:bg-gray-600 focus:ring-gray-400 text-white;
    }
}